$primaryColor: #940d1b;
$secondaryColor: #29d089;
$whiteColor: #ffffff;
$blackColor: #000000;
$lightBlackColor: #242424;
$grayColor: #707070;
$lightGrayColor:#A4A4A4;
$darkGrayColor: #515151;
$mediumGrayColor: #6B6B6B;
$lightPinkColor: #FFDCE7;
$lightOrangeColor: #FFE5B7;